{% extends "base.html" %}

{% block headcontent%}
    <title>Métricas | Sprinteam</title>
{% endblock headcontent%}

{% block leftcontent %}
    <div class="sectionpicker flexrow">
        <div class="section othersection" onclick="location.href='kanban/boarddisplay.html'"></div>
        <div class="section"></div>
    </div>
    <div class="sectioncontent">
        <div class="bdmarg">
            <div class="bdgrouptitle"></div>
            <div class="bdgroupbg flexcol">
                <div class="bdgroupboard"></div>
                <div class="bdgroupboard"></div>
            </div>
        </div>
        <div class="bdpick bdmarg"></div>
    </div>
{% endblock leftcontent %}

{% block rightcontent %}
    <!-- The Metrics -->
        <div class="metrics flexrow">
            <div class="metricsprog flexcol">
                <span class="metricstitle">Your progress is displayed here</span>
                <div class="flexrow">
                    <div class="proggraph"></div>
                    <p class="progtext">You're x% done!<br>
                        Keep up the good work!</p>
                </div>
                <p>Highlighted members</p>
                <div class="metricshlmembers flexrow">
                    <div class="hlmember"></div>
                    <div class="hlmember"></div>
                    <div class="hlmember"></div>
                </div>
            </div>
            <div class="metricshlcards flexcol">
                <p>Easiest task so far</p>
                <div class="card" onclick="showCard()">
                    <div class="cardfbox"><div class="ctitle">Título do Post-it</div><div class="pscore">1</div></div>
                    <div class="cdesc">Descrição do Post-It</div>
                    <div class="cardfbox">
                        <div class="cresp">Ele</div><div class="ctopic">#maneiro</div><div class="cdeadline">Hoje</div>
                    </div>           
                </div>
                <p>Hardest task so far</p>
                <div class="card" onclick="showCard()">
                    <div class="cardfbox"><div class="ctitle">Título do Post-it</div><div class="pscore">1</div></div>
                    <div class="cdesc">Descrição do Post-It</div>
                    <div class="cardfbox">
                        <div class="cresp">Ele</div><div class="ctopic">#maneiro</div><div class="cdeadline">Hoje</div>
                    </div>           
                </div>
            </div>
        </div>
    <!-- The tasks -->
        <div class="taskpreviews flexrow">
            <div class="task flexcol">
                <div>Task Title</div>
                <div class="flexrow">
                    <div class="cresp">Eo</div>
                    <span style="font-size: 12px;">Responsible ratings: xy<br>
                        #tags #they #got</span>
                </div>
                <div class="flexrow centrrow">
                    <div class="ctaskdeadline">hoje</div>
                    <div class="taskdeadline">Random Preview</div>
                </div>
            </div>
        </div>   
{% endblock rightcontent %}