{% extends "kanban/cards.html" %}
{% block title %}{{ card.c_name }}{% endblock %}
{% block details %}
    <form method="POST" action="">
    {% csrf_token %}
    <div id="cardDetail" class="chighbg flexcol" style="align-items: center;">
        <div onclick="location='{% url "kanban" board.b_name %}'" style="text-align:right;">X</div>
        <div class="chighlight flexcol">
            Nome do Card
            {{ form.c_name }}
            <label style="margin-left:20px;"> Complexidade do Card {{ form.c_complexity }}</label>
            {# <label>Responsável: </label><div class="cresp">{{card.c_assigned}}</div>#}
            <div>Deadline do Card {{ form.c_deadline }}</div>
            <div>Descrição do Card {{form.c_description}}</div>
            <div>Tópico do Card {{ form.c_topic }}</div>
            {{ form.c_assigned_id.hidden }}
            {{ form.c_list_id.hidden }}
            {{ form.c_position.hidden }}
            <button type="submit" class="cadbutton">ATUALIZAR</button>
        </div>
    </div>
    </form>
{% endblock details %}