{% extends "kanban/cards.html" %}
{% block title %}{{ card.c_name }}{% endblock %}
{% block details %}
    <form method="POST" action="">
    <div id="cardDetail" class="chighbg flexcol" style="align-items: center;">
        <div onclick="location='{% url "kanban" board.b_name %}'" style="text-align:right;">X</div>
        <div class="chighlight flexcol">
            {{ form.card_name.label }}
            {{ form.card_name }}
            <label style="margin-left:20px;"> {{ form.card_complexity.label }} {{ form.card_complexity }}</label> 
            {# <label>Responsável: </label><div class="cresp">{{card.c_assigned}}</div>#}
            {{ form.card_deadline.label }} 
            {{ form.card_deadline }}
            {{ form.card_description.label }} 
            {{form.card_description}}
            {{ form.card_topic.label }}
            {{ form.card_topic }}
            <div class="flexrow">
                <button type="submit" class="cadbutton">ATUALIZAR</button>
            </div>
        </div>
    </div>
    </form>
{% endblock details %}