<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/mainscripts.js' %}"></script>
    </head>
    <body>
    <div class="wholething">
        <div class="left">
            <div class="teamselect">
                <div class="flexrow">
                    {% for team in team %}
                    <div class="teampick">{{ team.t_name|first }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="groupselect flexcol">
                {% for b in board %}
                <div class="grouppick">{{ b.b_name }}</div>
                {% endfor %}
            </div>
            <div class="fswitchbar">
                 <!-- Will add the proper switches -->
            <div class="teampick" onclick="location.href='tasks.html'"></div>
            </div>

        </div>
        <div class="right">
            <div class="topbar">
                <div class="flexrow">
                    <div id="bicon" class="bdround">icone da board</div>
                    <div class="flexcol">
                        <div class="flexrow">
                            <div class="bdname">{{ board.b_name }}<label> - {{team.t_name}}</label></div>
                            <div class="bdsearch">Pesquisar... <img src="{% static 'images\search.png' %}"></div>
                        </div>
                        <div class="descbox flexcol">
                            <div class="desctext">{{board.b_description}}</div>
                            <div class="desctopics">#{{board.b_topics}}</div>
                        </div>
                    </div>
                    <div id="bscore" class="bdround">{{board.b_points}}</div>
                </div>
            </div>
            <div class="board">
                <div class="flexrow">
                    {% block categories %}
                    {% endblock categories %}
                </div>
                {% block  details %}
                {% endblock details %}
            </div>
        </div>
    </div>
    </body>
</html>