<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <!-- favicons -->
            <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
            <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
            <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
            <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
            <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
            <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
            <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
            <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
            <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
            <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
            <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
            <meta name="theme-color" content="#ffffff">
        <!-- favicon end-->
        <script src="{% static 'js/mainscripts.js' %}"></script>
        <title>    {% block title %}{{ board.b_name }}{% endblock %} | Sprinteam</title>
    </head>
    <body>
    {% csrf_token %}
    <div class="wholething">
        <div class="left">
            <div class="teamselect">
                <div class="flexrow">
                    {% for team in team %}
                    <div class="teampick">{{ team.t_name|first }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="groupselect flexcol">
                {% for b in board_list %}
                <div class="grouppick">{{ b.b_name }}</div>
                {% endfor %}
            </div>
            <div class="fswitchbar">
                 <!-- Will add the proper switches -->
            <div class="teampick" onclick="location.href='metrics/metrics.html'"></div>
            </div>

        </div>
        <div class="right">
            <div class="topbar">
                <div class="flexrow">
                    <div id="bicon" class="bdround">icone da board</div>
                    <div class="flexcol">
                        <div class="flexrow">
                            <div class="bdname">{{ board.b_name }}<label> - {{team.t_name}}</label></div>
                            <div class="bdsearch">Pesquisar... <img src="{% static 'images\search.png' %}"></div>
                        </div>
                        <div class="descbox flexcol">
                            <div class="desctext">{{board.b_description}}</div>
                            <div class="desctopics">#{{board.b_topics}}</div>
                        </div>
                    </div>
                    <div id="bscore" class="bdround">{{board.b_points}}</div>
                </div>
            </div>
            <div class="board">
                {% block categories %}
                {% endblock categories %}
                
                {% block  details %}
                {% endblock details %}
            </div>
        </div>
    </div>
    </body>
</html>