/*In this file we have styles that are still being tested*/
.leftarea{
    width: 205px;
    height: 100%;
    background-color: #4F4F4F;
}
    .topleft , .sectionpicker{
        height:57px;
        width:100%;
    }
    .sectionpicker{
        background-color: #C4C4C4;
        padding-left: 9px;
    }
    .section{
        width: 94px;
        background-color: #C66E6E;
    }
    .othersection{
        background-color: #814646 !important;
    }
    .sectioncontent{
        width:100%;
        height:100%;
        padding-left: 12px;
        padding-top: 35px;
    }
        .bdgrouptitle, .bdpick{
            width:182px;
            height:50px;
            background-color: #C4C4C4;
            border-radius: 5px;
        }
        .bdgroupbg{
            margin-left: 8px;
            padding-top: 12px;
            width: 168px;
            height: auto;
            /*display:none;  será implementado em testes */
        }
            .bdgroupboard{
                margin-left: 9px;
                width: 148px;
                height: 40px;
                background-color: #C4C4C4;
            }
.rightarea{
    width:-moz-available;
    height: 100%;
    background-color: #814646;
}
    .metrics{
        width: 875px;
        height: 410px;
        margin-top: 80px;
        margin-bottom: 35px;
        background-color: #C66E6E;
    }
        .metricsprog{
            width: 425px;
            height: 165px;
            margin-top: 10px;
            margin-left: 30px;
            background-color: blue; /*just using this for setup now*/
        }
            .progtitle{
                width:auto;
                height:auto;
            }
            .proggraph{
                width: 135px; 
                height: 135px;
            }
            .progtext{
                width: 245px;
                height: 65px;
                margin-left: 25px;
            }
        .metricshlmembers{
            width: 435px;
            height: 160px;
        }
            .hlmember{
                width: 120px;
                height: 120px;
                background-color: #C4C4C4;
            }
        .metricshlcards{
            margin-left: 145px;
            width:auto;
            height: 325px;
            background-color: blue; /*just using this for setup now*/
        }
    .taskpreviews{
        width:100%;
        height:auto;
        margin-left: 15px;
    }
        .task{
            width:280px;
            height:140px;
            background-color: #C4C4C4;
        }
        .taskdeadline{
            width: 120px;
            height: 35px;
            background-color: #79AAD7;
            border-radius: 15px;
        }
/*login/cad stuff*/
.logcadbg{
    width:100%;
    height:100%;
    opacity: 0.25;
    background-size: cover;
}
.logcadText{
    width: 500px;
    height: 54px;
    background-color: #804c90;
    box-sizing: border-box;
    border-radius: 15px 0 0 15px;
    display:flex;
    flex-direction:row;
    }

.logcadText img{
    width: 30px;
    height: 30px;
    margin-left:18px;
    margin-top:12px;
}

.logcadText input[type=text], input[type="password"], input[type="email"]{
    margin-top: 7px;
    margin-left: 15px;
    width: 430px;
    height: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 24px;
    color:rgba(0, 0, 0, .75);
    border:none;
}
.logcadbg form button ,input[type="submit"]{
    border-radius:15px;
    height:60px;
    width: 205px;
    font-size:28px;
    box-sizing: border-box;
    border:none;
    text-align: center;
    color:#FFFFFF;
    background-color: #804c90;
}
button:hover{
    cursor:pointer;
}
.cadmarg{
    margin-bottom: 15px !important;
}