/*In this file we have styles that are still being tested*/

.flexrow{
    display:flex;
    flex-direction: row;
}

.rightarea{
    width:100%;
    height: 100vh;
    background-color: #3F0B50;
}
    .expandmenu{
        width:55px;
        height:50px;
        padding-left: 15px;
        position: absolute;
        left: 0;
        bottom: 15px;
        background-color:rgb(68, 44, 77);
    }
        .expanded{
            width: 280px !important;
        }
        .expmenuexpbut{
            margin-top: 7.5px;
            width:35px;
            height:35px;
            box-sizing: border-box;
            padding-top: 5px;
            border-radius: 50%;
        }
            .expmenuexpbut img{
                width:15px;
                height:20px;
                opacity: 0.5;
            }
        .expmenubuts{
            text-align: center;
            margin-top: 5px;
            width:45px;
            height:40px;
            box-sizing: border-box;
            padding-top: 2.5px;
            border-radius: 10px;
        }
            .expmenubuts img{
                width:35px;
                height:35px;
                opacity:0.5px;
            }
        .expmenuexpbut, .expmenubuts{
            background-color: #65167E;
            text-align: center;
            box-sizing: border-box;
        }
    .metrics{
        width: 850px;
        height: 425px;
        margin-top: 40px;
        margin-bottom: 35px;
        background-color: #65167E;
    }
        .metricsprog{
            width: 425px;
            height: auto;
            margin-top: 10px;
            margin-bottom: 15px;
            margin-left: 30px;
            background-color: white; /*just using this for setup now*/
        }
            .progtitle{
                width:auto;
                height:auto;
            }
            .proggraph{
                width: 135px; 
                height: 135px;
            }
            .progtext{
                width: 245px;
                height: 65px;
                margin-left: 25px;
            }
        .metricshlmembers{
            width: 435px;
            height: 160px;
        }
            .hlmember{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background-color: #C4C4C4;
                margin-right: 15px;
            }
        .metricshlcards{
            margin-left: 80px;
            margin-top: 10px;
            margin-bottom: 10px;
            width:auto;
            height: auto;
            padding-left: 5px;
            background-color: white; /*just using this for setup now*/
        }
    .taskpreviews{
        width:100%;
        height:auto;
    }
        .task{
            width:300px;
            height:150px;
            border-radius: 15px;
            padding-left: 10px;
            padding-top: 10px;
            box-sizing: border-box;
            background-color: #C4C4C4;
        }
        .task div{
            margin-right: 20px;
            margin-bottom: 10px;
        }
        .taskcdeadline{
            width: 100px;
            box-sizing: border-box;
            padding-top:3px;
            height: 35px;
            background-color: #79AAD7;
            border-radius: 15px;
            text-align: center;
            font-size:12px;
        }
        .taskdeadline{
            width: 120px;
            box-sizing: border-box;
            padding-top:3px;
            height: 35px;
            background-color: #79AAD7;
            border-radius: 15px;
            text-align: center;
            font-size:12px;
        }
/*the board making*/
.boardmake{
    width: 800px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #65167E;
}