/*Main stuff settings*/
.wholething{
   display: inline;
}
.flexrow{
    display:flex;
    flex-direction: row;
}
.flexcol{
    display:flex;
    flex-direction:column;
}
label{
    color: rgba(0, 0, 0, 0.5);
}
/*the two sides*/
.left{
    position: absolute;
    display: grid;
    grid-template-rows: 129px 1fr 129px;
    width: 347px;
    height:100%;
    left: 0px;
    top: 0px;
    background-color: #C4C4C4;
}
.right{
    position: absolute;
    width: -moz-available;
    height: 100%;
    left: 347px;
    top: 0px;
    background-color: #ECEBEB;
}
/*left stuff*/
.fswitchbar{
    width: 100%;
    height: 129px;
    background: #814646;
}
.teamselect{
    width: 347px;
    height: 129px;
    left: 0px;
    top: 0px;
    background: #814646;
}
/*Tasks*/
    .teamstuff{
        width: 300px;
        height: 95px;
        left: 16px;
        top: 17px;
    }
    .teamicon{
        position: absolute;
        width: 95px;
        height: 95px;
        left: 16px;
        top: 17px;
        background-color: #C4C4C4;
        border-radius: 15px;
    }

    .teamname{
        position: absolute;
        box-sizing: border-box;
        width: 183px;
        height: 27px;
        left: 133px;
        top: 17px;
        background-color: #C4C4C4;
        border-radius: 5px;
        padding-left: 8px;
        padding-top: 6px;
        font-size: 14px;
    }

    .teamdesc{
        position: absolute;
        box-sizing: border-box;
        width: 183px;
        height: 55px;
        left: 133px;
        top: 57px;
        background-color: #C4C4C4;
        border-radius: 5px;
        padding-left: 8px;
        padding-top: 6px;
        font-size: 14px;
    }

    .groupselect{
        display:flex;
        flex-direction: column;
        height:100%;
        padding-top: 41px;
        background-color: #DD8989;
    }
    .grouppick{
        width: 292px;
        height: 75px;  
        background-color: #C4C4C4;
        border-radius: 15px;
        padding-top: 15px;
        padding-left: 25px;
        margin-left: 15px;
        margin-bottom: 30px;
        font-size: 36px;
    }
    /*Post its*/
    .teampick{
        width: 98px;
        height: 106px;
        margin-left: 16px;
        margin-top: 11px;
        background-color: #DD2727;
        border-radius: 15px;
    }
/*right stuff*/
.logbg{
    width:100%;
    height:100%;
    background:url("images/.png");
    background-color:#3f0b50;
}

form label{
    text-align: right;
    margin-bottom: 10px;
}

.login{
    margin-top: 15%;
    margin-left:150px;
    width:500px;
    height:auto;
    padding: 20px 25px 20px 25px;
    background-color: #65167e;
    border-radius: 15px;
}

.cadinp{
    margin-bottom: 10px;
}

form button ,input[type="submit"]{
    border-radius:10px;
    height:75px;
    width: auto;
    font-size:45px;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 10px;
    text-align: center;
    margin-left: 10px;
}

.cadbutton{
    color:#FFFFFF;
    background-color: #804c90;
}

.logbutton{
    color: #804c90;
    background-color: #FFFFFF;
}

.loginText{
    width: 500px;
    height: 75px;
    background-color: #3f0b50;
    box-sizing: border-box;
    border-radius: 10px;
    display:flex;
    flex-direction:row;
    }

.loginText img{
    width: 50px;
    height: 50px;
    margin-left:15px;
    margin-top:10px;
}

.loginText input[type=text], input[type="password"], input[type="email"]{
    margin-top: 10px;
    margin-left: 15px;
    width: 400px;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    box-sizing: border-box;
    padding-left: 5px;
    font-size: 30px;
}

.topbar{
    height: 108px;
    width: available;
    background-color: #C66E6E;
}
    /*tasks*/
    
    .groupname{
        box-sizing: border-box;
        width: 546px;
        height: 37px;
        margin-left: 21px;
        margin-top: 7px;
        background-color: #814646;
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 6px;
        font-size: 24px;
    }


    .tasksearch{
        box-sizing: border-box;
        width: 254px;
        height: 36px;
        margin-left: 34px;
        margin-top: 7px;
        background-color: #804646;
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 6px;
        font-size: 24px;
    }

    .tasksearch img{
        margin-top: 5px;
        width:25px;
        height:25px;
        text-align: right;
    }

    .taskremind{
        box-sizing: border-box;
        width: 248px;
        height: 45px;
        margin-left: 15px;
        margin-top: 15px;
        border-radius: 10px;
        padding-left:10px;
        padding-top:10px;
        font-size: 20px;;
    }

    .remind1{
        background-color: #56CCF2;
    }

    .remind2{
        background-color: #2D9CDB;
    }

    .remind3{
        background-color: #2F80ED;
    }

    /* Cards */
    .bdround{
        width: 85px;
        height: 80px;
        margin-left:15px;
        margin-top: 13px;
        background-color: #C4C4C4;
        border-radius: 15px;
    }

    .bdname{
        width: 350px;
        height: 28px;
        margin-left: 16px;
        margin-top: 13px;
        background-color: #C4C4C4;
        border-radius: 15px;
        box-sizing: border-box;
        padding-left:10px;
        padding-top: 5px;
    }

    .bdsearch{
        width: 200px;
        height: 26px;
        margin-left: 150px;
        margin-top: 15px;
        box-sizing: border-box;
        background: #C4C4C4;
        border-radius: 5px;
        padding-left: 5px;
        padding-top: 3px;
    }

    .bdsearch img{
        margin-top: 5px;
        width:15px;
        height:15px;
        text-align: right;
    }

    .descbox{
        width: 700px;
        height: 47px;
        margin-left: 16px;
        margin-top: 5px; 
        background-color: #C4C4C4;
        border-radius: 5px;
        box-sizing: border-box;
        padding-left:10px;
        padding-top: 3px;
    }

    .board{
        height: max-content;
        width: 100%;
        z-index: 1;
    }

    .ccateg{
        width: 416px;
        height: 77px;
        background-color: #C4C4C4;
        box-sizing: border-box;
        font-size: 32px;
        padding-top: 20px;
        text-align: center;
    }

    .categbg{
        box-sizing: border-box;
        margin-left: 11px;
        padding-left: 38px;
        padding-top: 35px;
        padding-bottom: 35px;
        width: 395px;
        height:auto;
        min-height: 20px;
        background-color: #A69E9E;
    }

    .card{
        width: 318px;
        height: 141px;
        background-color: #C4C4C4;
        border-radius: 0px 20px 0px 0px;
        margin-bottom: 20px;
    }

    .cardfbox{
        margin-left: 5px;
        display:flex;
        flex-direction: row;
    }

    .pscore{
        width: 38px;
        height: 36.5px;
        margin-left:32px;
        border-width: 0px 0px 2px 2px ;
        border-style:solid;
        border-color: rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        padding-top:5px;
        padding-left: 10px;
    }

    .ctitle{
        width: 242px;
        height: 33px;
        margin-top: 3px;
        background-color: #BBB9B9;
        box-sizing: border-box;
        padding-left:10px;
        padding-top:5px;        
    }

    .cdesc{
        position:relative;
        width: 300px;
        height: 58px;
        left:10px;
        box-sizing: border-box;
        padding-left:10px;
        padding-top:5px; 

    }

    .cresp{
        width: 38px;
        height: 38px;
        left: 7px;
        top: 97px;
        border-radius:50%;
        background-color: #BBB9B9;
    }

    .ctopic{
        width: auto;
        max-width:100px;
        height: 27px;
        margin-left: 10px;
        background-color: #BBB9B9;
        border-radius: 15px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .cdeadline{
        width: auto;
        max-width: 100px;
        height: 27px;
        margin-left: 10px;
        background-color: #BBB9B9;
        border-radius: 15px;
        padding-top: 5px;
        padding-left:10px;
        padding-right:10px;
    }
    /* Card Highlight*/
        .chighbg{
            color:white;
            background:rgba(0, 0, 0, 1);
            height: 100%;
            width: 100%;
            position:absolute;
            display:none;
            z-index: 2;
        }

        .chighlight{
            color:black;
            border-radius: 5px;
            background-color: #F5F5F5;
            box-sizing: border-box;
            padding: 20px;
            width: 500px;
            height:auto;
        }

        .chbigfield{
            font-size: 16px;
            margin-bottom:15px;
        }

        .chbigfield label{
            opacity:100%;
        }

        .chdesc{
            width: 300px;
            height:auto;
        }