<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/betastyles.css' %}">
        <!-- favicon -->
            <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
            <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
            <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
            <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
            <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
            <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
            <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
            <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
            <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
            <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
            <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
            <meta name="theme-color" content="#ffffff">
        <!-- favicon end-->
        <script src="{% static 'js/mainscripts.js' %}"></script>
    </head>
    <body>
        <div class="wholething">

            <div class="leftarea flexcol">
                <div class="topleft"></div>
                <div class="sectionpicker flexrow">
                    <div class="section othersection"></div>
                    <div class="section"></div>
                </div>
                <div class="sectioncontent">
                    <div class="bdgrouptitle"></div>
                    <div class="bdgroupbg flexcol">
                        <div class="bdgroupboard"></div>
                        <div class="bdgroupboard"></div>
                    </div>
                </div>
                <div class="bdpick"></div>
            </div>

            <div class="rightarea flexcol">
                <div class="metrics flexrow">
                    <div class="flexcol">
                        <div class="metricsprog flexcol">
                            <div class="prog title">Your progress is displayed here</div>
                            <div class="flexrow">
                                <div class="proggraph"></div>
                                <div class="progtext">
                                    <span>You're x% done!</span>
                                    <span>Keep up the progress!</span>
                                </div>
                            </div>
                        </div>
                        <div class="metricshlmembers">
                            <div class="hlmember"></div>
                            <div class="hlmember"></div>
                            <div class="hlmember"></div>
                        </div>
                    </div>
                    <div class="metricshlcards flexcol">
                        <span>Easiest task so far</span>
                            {% block cards %}
                            {% endblock cards %}
                        <span>Hardest task so far</span>
                            {% block cards %}
                            {% endblock cards %}
                    </div>
                </div>
                <div class="taskpreviews flexrow">
                    <div class="task flexcol">
                        <span>Task Title</span>
                        <div class="flexrow">
                            <div class="cresp">Eo</div>
                            <span>Responsible ratings: xy</span>
                            <span>#tags #they #got</span>
                        </div>
                        <div class="flexrow">
                            <div class="ceadline">hoje</div>
                            <div class="taskdeadline">Random Preview</div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>