<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/betastyles.css' %}">
        <script src="{% static 'js/mainscripts.js' %}"></script>
    </head>
    <body>
        <div class="wholething">

            <div class="leftarea flexcol">
                <div class="topleft"></div>
                <div class="sectionpicker flexrow">
                    <div class="section othersection"></div>
                    <div class="section"></div>
                </div>
                <div class="sectioncontent">
                    <div class="bdgrouptitle"></div>
                    <div class="bdgroupbg flexcol">
                        <div class="bdgroupboard"></div>
                        <div class="bdgroupboard"></div>
                    </div>
                </div>
                <div class="bdpick"></div>
            </div>

            <div class="rightarea flexcol">
                <div class="metrics flexrow">
                    <div class="flexcol">
                        <div class="metricsprog"></div>
                        <div class="metricshlmembers">
                            <div class="hlmember"></div>
                            <div class="hlmember"></div>
                            <div class="hlmember"></div>
                        </div>
                    </div>
                    <div class="metricshlcards">
                    </div>
                </div>
                <div class="taskpreviews flexrow">
                    <div class="task flexcol">
                        
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>