<!DOCTYPE HTML> 
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="design/css/styles.css">
    </head>
    <body>
    <div class="wholething">
        <div class="left">
            <div class="teamselect">
                <div class="teamstuff">
                    <div class="teamicon"></div>
                    <div class="teamname">Bodia</div>
                    <div class="teamdesc">Tenha um ótimo dia</div>
                </div>
            </div>
            <div class="groupselect">
                <div class="grouppick">Conjunto 1</div>
                <div class="grouppick">Conjunto 2</div>
            </div>
            <div class="fswitchbar"></div>

        </div>
        <div class="right">
            <div class="topbar">
                <div class="flexcol">
                    <div class="flexrow">
                        <div class="groupname">Nome do grupo<label id="opacity50"> - Equipe</label></div>
                        <div class="tasksearch"><label id="opacity50">Pesquisar tarefa</label></div>
                    </div>
                    <div class="flexrow">
                        <div class="taskremind remind1"><label id="opacity50">Tarefa próxima 1</label></div>
                        <div class="taskremind remind2"><label id="opacity50">Tarefa próxima 2</label></div>
                        <div class="taskremind remind3"><label id="opacity50">Tarefa próxima 3</label></div>                  
                    </div>
                </div>
            </div>
            <div>
            </div>

        </div>
    </div>
    </body>
</html>